 @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  display: grid;
  grid-template-columns: 10% 1fr;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.loading {
  font-family: "Poppins", sans-serif;
  color: #e67f90;
  text-align: center;
  font-size: 2rem;
  line-height: 1.5;
}

.count {
  position: absolute;
  top:-1rem;
  left: -1rem;
  background-color: rgba(0, 255, 255, 0.506);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.mainContainer {
  grid-column: 1/2;
  width: 90vh;
  height: 90vh;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  position: relative;
}

.header {
  grid-column: 1/2;
}

.title {
  font-family: "Pacifico", cursive;
  writing-mode: vertical-lr;
  text-orientation: upright;
  margin-left: 2rem;
  font-size: 2.6rem;
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

.card {
  background: #c0fff598;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.237);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1.9px);
  border: 1px solid rgba(192, 255, 244, 0.3);
  width: 70%;
  height: 90%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
}

.card:hover {
  background: #c0fff5c2;
  box-shadow: 
    0 0 5px #ffffffbc,
    0 0 10px #ffffffbc,
    0 0 20px #ffffffbc,
    0 0 40px rgba(0, 255, 255, 0.683),
    0 0 80px rgba(0, 255, 255, 0.632),
    0 0 90px rgba(0, 255, 255, 0.667),
    0 0 100px rgba(0, 255, 255, 0.703),
    0 0 150px rgba(0, 255, 255, 0.663);
  transform: scale(1.5);
  z-index: 10;
  transition: transform 300ms ease-in-out;
}

.card img {
  height: 95%;
  width: 95%;
  border-radius: 16px;
  object-fit: cover;
  transition: opacity 300ms ease-in-out;
}

.hide {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.show {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.first {
  box-shadow: 0 4px 30px rgba(220, 62, 194, 0.766);
}

.card div {
  position: absolute;
  text-align: center;
  padding-inline: 5px;
  width: 100%;
  height: 30%;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.836),
    rgba(255, 255, 255, 0.618)
  );
  transform: translateY(52px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 300ms ease-in-out;
}

.card h1 {
  font-size: 1rem;
  color: rgb(65, 65, 65);
  line-height: 1.4;
}

.recipesContainer {
  display: grid;
  grid-auto-rows: minmax(max-content, max-content);
  width: 100%;
  height: 0;
  min-height: 100%;
  justify-content: center;
  gap:1rem;
  overflow: scroll;
}

.recipeCard {
  width: 90%;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-items: center;
  align-items: flex-start;
  margin-left: 1.5rem;
  position: relative;
  color: rgb(65, 65, 65);
}

.recipeImg {
  width: 15%;
  border-radius: 16px;
  margin: 10px;
}

.recipeTitle{
  margin-top: 0.3rem;
  font-size: 1.2rem;
  color: #e67f90;
  font-family: "Pacifico", cursive;
  margin-bottom: 0.1rem;
}

.recipeCard p {
  font-size: 0.9rem;
}

.recipeCard div p {
  font-style: italic;
}

.instructions {
  display: grid;
  grid-template-rows: auto 1fr;
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
}

.instructionsDescription {
  margin-bottom: 0.5rem;
}

.instructionsExtra {
  display: grid;
  grid-template-columns: 1fr 5%;
  align-items: flex-end;
}

.recipeCard ul {
  margin-bottom: 0.3rem;
  list-style: none;
  font-size: 0.8rem;
}

.closedCardImg {
  width: 12.5%;
}

.savedDrinks {
  position: absolute;
  top: -35px;
  right: 75px;
  background-color: #ffffff4f;
  border-radius: 1rem;
  padding-block: 0.1rem;
  padding-inline: 0.5rem;
  border: #ffffffb5;
  font-family: "Poppins", sans-serif;
  color: #5d5d5d;
  transition: all 300ms ease-in-out;
}

.recipesLink {
  text-decoration: none;
  color: #484848ce;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
}

.savedDrinks:hover {
  background-color:#ffc0cb;
}
